#root, .app-container, body, html {
    height: 100%
}

.clearfix:after {
    clear: both;
    display: table;
    content: " "
}

.left {
    float: left
}

.right {
    float: right
}

.fixed {
    position: fixed
}

a {
    text-decoration: none
}

blockquote, div, dl, dt, h1, h2, h3, h4, h5, input, li, ol, p, ul {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    color: #47525d
}

ul.horizontal li {
    float: left
}

p {
    color: #6d7075
}

a {
    color: #2e7eea
}

a:hover {
    color: #57aaed
}

iframe {
    border: none
}

@font-face {
    font-family: Montserrat;
    src: url(https://data.zi.com/07689d4eaaa3d530d58826b5d7f84735.ttf) format('truetype')
}

@font-face {
    font-family: FZYANS_ZHUN;
    src: url(fonts/FZYanSJW_Zhun.ttf) format("truetype")
}

@font-face {
    font-family: FZYANS_XIAN;
    src: url(fonts/FZYanSJW_Xian.ttf) format("truetype")
}

.control-group {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px
}

::-webkit-input-placeholder {
    color: #7f8589
}

:-moz-placeholder {
    color: #7f8589
}

button:focus, input:focus, select:focus, textarea:focus {
    outline: none
}

label {
    color: #7f8589;
    font-size: 12px;
    line-height: 30px;
    height: 30px
}

@link-hover-color :rgba(89, 145, 250, 1) @default-color: #464d5c;
@-webkit-keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0
    }
    to {
        visibility: visible;
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        visibility: hidden;
        opacity: 0
    }
    to {
        visibility: visible;
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1
    }
    to {
        visibility: hidden;
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1
    }
    to {
        visibility: hidden;
        opacity: 0
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    to {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    to {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes scaleOut {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}

@keyframes scaleOut {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}

.shake {
    -webkit-animation: shake .3s ease;
    animation: shake .3s ease
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    20% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    40% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
    60% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }
    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }
    90% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    20% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    40% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px)
    }
    60% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px)
    }
    80% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }
    90% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes fadeMoveUpIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-6%);
        transform: translateY(-6%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeMoveUpIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-6%);
        transform: translateY(-6%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes fadeMoveUpOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-6%);
        transform: translateY(-6%)
    }
}

@keyframes fadeMoveUpOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-6%);
        transform: translateY(-6%)
    }
}

@-webkit-keyframes moveOn {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}

@keyframes moveOn {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }
}

.btn {
    padding: 17px 44px 15px 47px;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.btn.disabled {
    cursor: not-allowed
}

.btn:focus {
    outline: none
}

.btn:active {
    transition: border-color .1s ease-in-out, background-color .1s ease-in-out, color .1s ease-in-out, box-shadow .1s ease-in-out;
    -webkit-transition: border-color .1s ease-in-out, background-color .1s ease-in-out, color .1s ease-in-out, box-shadow .1s ease-in-out
}

.btn:hover {
    cursor: pointer
}

.btn-default {
    color: #464d53;
    border: 1px solid rgba(185, 193, 199, .5);
    background-color: transparent;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05), 0 1px 2px rgba(0, 0, 0, .05)
}

.btn-default:hover {
    background-color: #f6f6f6;
    color: rgba(70, 77, 92, .9)
}

.btn-default:active {
    background-color: #edeff2;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.btn-primary {
    color: #fff;
    background-color: #3a7bf7;
    border: 1px solid #3774e8;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05), 0 1px 2px rgba(0, 0, 0, .05);
    text-shadow: 0 1px 0 #3774e8
}

.btn-primary:hover {
    background-color: #5991fa;
    border: 1px solid #3a7bf7;
    color: hsla(0, 0%, 100%, .9)
}

.btn-primary:active {
    background-color: #2e62c5;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.btn-primary.inverse {
    color: #3a7bf7;
    background-color: transparent;
    border: 1px solid #3a7bf7;
    padding: 11px 25px 11px 27px;
    font-size: 14px
}

.btn-primary.inverse:hover {
    color: #fff;
    background-color: #3a7bf7;
    border: 1px solid #3a7bf7
}

.btn-primary.inverse:active {
    color: #fff;
    background-color: #2e62c5;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.btn-danger {
    color: #fff;
    background-color: #f2555b;
    border: 1px solid #de464c;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05), 0 1px 2px rgba(0, 0, 0, .05);
    text-shadow: 0 1px 0 #de464c
}

.btn-danger:hover {
    background-color: #ff6b71;
    border: 1px solid #f2555b;
    color: hsla(0, 0%, 100%, .9)
}

.btn-danger:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.btn-danger.disabled, .btn-danger:active {
    background-color: #de464c
}

.btn-ghost {
    border: 1px solid #7b8994;
    color: #7b8994;
    letter-spacing: 4px;
    background-color: transparent
}

.btn-ghost:hover {
    border: 1px solid #3774e8;
    color: #fff;
    background-color: #3a7bf7
}

.btn-ghost:active {
    background-color: #2e62c5;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.btn-ghost-dark {
    background-color: hsla(0, 0%, 100%, 0);
    border: 1px solid hsla(0, 0%, 100%, .4);
    color: hsla(0, 0%, 100%, .8)
}

.btn-ghost-dark:hover {
    border: 1px solid hsla(0, 0%, 100%, .82);
    color: #fff;
    background: hsla(0, 0%, 100%, .15)
}

.btn-ghost-dark:active {
    background-color: hsla(0, 0%, 100%, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.btn-info {
    color: #fff;
    font-size: 14px;
    letter-spacing: .78px;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05), 0 1px 2px rgba(0, 0, 0, .05)
}

.btn-info, .btn-info.inverse {
    background: #464d5c;
    border: 1px solid #3e4853;
    text-shadow: 0 1px 0 #3e4853
}

.btn-info.inverse {
    padding: 15px 22px 15px 50px;
    position: relative
}

.btn-info.inverse:hover {
    background-color: #656c7c;
    border: 1px solid #464d5c;
    color: hsla(0, 0%, 100%, .9)
}

.btn-info.inverse:active {
    background-color: #3e4853;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.btn-info:hover {
    background-color: #656c7c;
    border: 1px solid #464d5c;
    color: hsla(0, 0%, 100%, .9)
}

.btn-info:active {
    background-color: #3e4853;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.btn-xs {
    padding: 8px 14px 7px 17px
}

.btn-sm, .btn-xs {
    letter-spacing: 2px
}

.btn-sm {
    padding: 8px 20px 7px 23px
}

.btn-branding, .btn-radius {
    border-radius: 100px
}

.btn-branding {
    padding: 16px 37px 16px 40px
}

.close-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #d0d3d9;
    background-color: #fcfcfc;
    cursor: pointer;
    z-index: 10
}

.close-button:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.close-button:after, .close-button:before {
    content: '';
    width: 15px;
    height: 2px;
    background: #7b8494;
    position: absolute;
    left: 12.5px;
    top: 48%;
    margin-top: 0
}

.close-button:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.close-button:hover {
    background-color: #3a7bf7;
    border: 1px solid #3a7bf7
}

.close-button:hover:after, .close-button:hover:before {
    background: #fff
}

.close-button:active {
    background: #2e62c5;
    border: 1px solid #2e62c5
}

.close-button:active:after, .close-button:active:before {
    background: #fff
}

.separator {
    background-color: #d0d4d9
}

.separator.horizontal {
    width: 1px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3.5px
}

.separator.vertical {
    height: 1px;
    width: 100%
}

.dropdown-menu {
    opacity: 0;
    position: absolute;
    display: inline-block;
    padding: 25px;
    background: #fff;
    border: 1px solid #d0d3d9;
    box-shadow: 0 6px 12px 0 rgba(68, 68, 68, .06);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: opacity .4s .05s ease, -webkit-transform .35s .05s cubic-bezier(.23, 1, .52, 1);
    transition: opacity .4s .05s ease, -webkit-transform .35s .05s cubic-bezier(.23, 1, .52, 1);
    transition: opacity .4s .05s ease, transform .35s .05s cubic-bezier(.23, 1, .52, 1);
    transition: opacity .4s .05s ease, transform .35s .05s cubic-bezier(.23, 1, .52, 1), -webkit-transform .35s .05s cubic-bezier(.23, 1, .52, 1);
    -webkit-transform-origin: top;
    transform-origin: top
}

.dropdown-menu .dropdown-uparrow {
    position: absolute;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: -webkit-transform .45s cubic-bezier(.23, 1, .52, 1);
    transition: -webkit-transform .45s cubic-bezier(.23, 1, .52, 1);
    transition: transform .45s cubic-bezier(.23, 1, .52, 1);
    transition: transform .45s cubic-bezier(.23, 1, .52, 1), -webkit-transform .45s cubic-bezier(.23, 1, .52, 1);
    left: 50%;
    top: -26px;
    margin-left: -11px
}

.dropdown-menu .dropdown-uparrow:before {
    content: '';
    width: 0;
    height: 0;
    border: 13px solid transparent;
    position: absolute;
    border-bottom: 13px solid #d0d3d9
}

.dropdown-menu .dropdown-uparrow:after {
    content: '';
    width: 0;
    height: 0;
    border: 12px solid transparent;
    position: absolute;
    border-bottom: 12px solid #fff;
    left: 1px;
    top: 3px
}

.dropdown-menu li {
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    list-style: none;
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
    line-height: 20px;
    height: 20px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
    text-align: left;
    -webkit-transition: opacity .25s cubic-bezier(.23, 1, .32, 1), -webkit-transform .35s ease;
    transition: opacity .25s cubic-bezier(.23, 1, .32, 1), -webkit-transform .35s ease;
    transition: opacity .25s cubic-bezier(.23, 1, .32, 1), transform .35s ease;
    transition: opacity .25s cubic-bezier(.23, 1, .32, 1), transform .35s ease, -webkit-transform .35s ease
}

.dropdown-menu li:hover a {
    color: #464d5c
}

.dropdown-menu li:hover .li-arrow:after, .dropdown-menu li:hover .li-arrow:before {
    background-color: #464d5c
}

.dropdown-menu li a {
    float: left;
    display: block;
    color: #7b8494;
    font-family: Montserrat, -apple-system, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out
}

.dropdown-menu li:last-child {
    margin-bottom: 0
}

.dropdown-menu li .li-arrow {
    display: inline-block;
    margin-left: 4px;
    position: relative;
    height: 100%;
    width: 14px
}

.dropdown-menu li .li-arrow:before {
    top: 7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.dropdown-menu li .li-arrow:after, .dropdown-menu li .li-arrow:before {
    content: '';
    width: 6px;
    height: 2px;
    right: 0;
    background-color: #9198a3;
    position: absolute;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.dropdown-menu li .li-arrow:after {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.dropdown-menu[data-state=active] {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    -webkit-transition: opacity .35s cubic-bezier(.23, 1, .32, 1), -webkit-transform .45s cubic-bezier(.23, 1, .32, 1);
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1), -webkit-transform .45s cubic-bezier(.23, 1, .32, 1);
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1), transform .45s cubic-bezier(.23, 1, .32, 1);
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1), transform .45s cubic-bezier(.23, 1, .32, 1), -webkit-transform .45s cubic-bezier(.23, 1, .32, 1)
}

.dropdown-menu[data-state=active] li {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .45s .05s ease;
    transition: all .45s .05s ease
}

.dropdown-menu[data-state=active] .dropdown-uparrow {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform .45s cubic-bezier(.23, 1, .52, 1);
    transition: -webkit-transform .45s cubic-bezier(.23, 1, .52, 1);
    transition: transform .45s cubic-bezier(.23, 1, .52, 1);
    transition: transform .45s cubic-bezier(.23, 1, .52, 1), -webkit-transform .45s cubic-bezier(.23, 1, .52, 1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}

.design {
    margin-top: 101px;
    margin-bottom: 81px;
    position: relative
}

.design .container {
    overflow: visible;
    position: relative
}

.design .container h3 {
    position: relative;
    text-align: center;
    font-size: 28px;
    width: 113px;
    margin: 80px auto 70px;
    color: #464d5c;
    font-family: FZYANS_XIAN, -apple-system, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif
}

.design .container h3:before {
    left: -120px
}

.design .container h3:after, .design .container h3:before {
    content: '';
    border-top: .5px solid #d0d3d9;
    width: 115px;
    position: absolute;
    top: 14px
}

.design .container h3:after {
    left: 120px
}

.design .designers {
    margin-bottom: 100px
}

.design .designers .designer-container {
    width: 467px;
    height: 430px;
    overflow: hidden;
    position: relative;
    float: left
}

.design .designers .designer-container ul {
    margin: 0;
    padding: 0;
    position: absolute
}

.design .designers .designer-container ul .designer {
    float: left;
    width: 467px;
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0
}

.design .designers .designer-container ul .designer .designer-info {
    margin-bottom: 27px
}

.design .designers .designer-container ul .designer .designer-info .designer-img {
    width: 56px;
    height: 56px;
    overflow: hidden;
    float: left;
    margin-right: 25px
}

.design .designers .designer-container ul .designer .designer-info .designer-img img {
    width: 100%;
    height: 100%;
    border-radius: 100px
}

.design .designers .designer-container ul .designer .designer-info .designer-profile {
    float: left;
    margin-top: 7px
}

.design .designers .designer-container ul .designer .designer-info .designer-profile .designer-name {
    display: block;
    font-size: 16px;
    color: #464d5c;
    margin-bottom: 8px;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.design .designers .designer-container ul .designer .designer-info .designer-profile .designer-title {
    font-size: 16px;
    color: #a0a2a5;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.design .designers .designer-container ul .designer .designer-describ {
    font-size: 16px;
    line-height: 32px;
    color: #6d7075;
    margin-bottom: 60px;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.design .designers .designer-container ul .designer .designer-why {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #3a7bf7
}

.design .designers .designer-container ul .designer .designer-why a {
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；;
    font-size: 16px
}

.design .designers .designer-container ul .designer[data-state=init] {
    -webkit-animation: fadeOut .3s 0s forwards ease-out;
    animation: fadeOut .3s 0s forwards ease-out
}

.design .designers .designer-container ul .designer[data-state=active] {
    animation: fadeIn .35s .3s forwards ease-out;
    -webkit-animation: fadeIn .35s .3s forwards ease-out;
    z-index: 3
}

.design .designers .designer-container ul .designer[data-state=default] {
    opacity: 1;
    z-index: 3
}

.design .designers .design-preview-phone {
    background-image: url(https://data.zi.com/f077d7b33c7825f64deaccaf4b8e5f31.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 263px;
    height: 533px;
    position: relative;
    float: right
}

.design .designers .design-preview-phone iframe {
    position: absolute;
    left: -28px;
    width: 320px;
    top: -15px;
    height: 560px;
    -webkit-transform: scale(.715);
    transform: scale(.715)
}

.design .design-templates {
    position: absolute;
    width: 875px;
    height: 256px;
    overflow: hidden;
    z-index: 3;
    bottom: -90px;
    left: -155px
}

.design .design-templates:before {
    left: 0
}

.design .design-templates:after, .design .design-templates:before {
    width: 155px;
    height: 171px;
    content: '';
    position: absolute;
    top: 0;
    z-index: 10
}

.design .design-templates:after {
    right: 0
}

.design .design-templates .design-templates-box {
    position: absolute;
    left: 155px
}

.design .design-templates .design-templates-box ul {
    padding: 0;
    margin: 0;
    float: left
}

.design .design-templates .design-templates-box ul li {
    list-style-type: none;
    float: left;
    width: 100px;
    height: 171px;
    margin-right: 55px;
    opacity: 0
}

.design .design-templates .design-templates-box ul li div {
    width: 100%;
    height: 134px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    font-size: 0
}

.design .design-templates .design-templates-box ul li div img {
    max-width: 100%
}

.design .design-templates .design-templates-box ul li h5 {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #464d5c;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；;
    letter-spacing: 2.67px
}

.design .templates-btn a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fcfcfc;
    border: .5px solid rgba(208, 211, 217, .4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    position: absolute;
    bottom: 75px;
    z-index: 5
}

.design .templates-btn a:hover:after, .design .templates-btn a:hover:before, .design .templates-btn a:visited:after, .design .templates-btn a:visited:before {
    border-color: #3a7bf7
}

.design .templates-btn a.lastone:hover:after, .design .templates-btn a.lastone:hover:before, .design .templates-btn a.lastone:visited:after, .design .templates-btn a.lastone:visited:before {
    border-color: #d0d3d9
}

.design .templates-btn .goLeft {
    left: -45px
}

.design .templates-btn .goLeft:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px
}

.design .templates-btn .goLeft:after, .design .templates-btn .goLeft:before {
    content: '';
    width: 7px;
    height: 0;
    border: 1px solid #d0d3d9;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    margin-left: -5px
}

.design .templates-btn .goLeft:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 17px
}

.design .templates-btn .goRight {
    left: 583px
}

.design .templates-btn .goRight:before {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 12px
}

.design .templates-btn .goRight:after, .design .templates-btn .goRight:before {
    content: '';
    width: 7px;
    height: 0;
    border: 1px solid #d0d3d9;
    border-radius: 1px;
    position: absolute;
    left: 50%;
    margin-left: -4px
}

.design .templates-btn .goRight:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 17px
}

.slogan {
    position: relative;
    overflow: visible;
    height: 535px
}

.slogan .slogan-title {
    padding-top: 32px;
    width: 512px;
    float: left
}

.slogan .slogan-title h4 {
    text-indent: 8px;
    margin-top: 95px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；;
    font-weight: 400;
    letter-spacing: 3.2px;
    color: #7f8589
}

.slogan .slogan-title h1 {
    font-size: 48px;
    margin-top: 0;
    line-height: 48px;
    margin-bottom: 101px;
    font-family: FZYANS_ZHUN, -apple-system, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    color: #464d5c;
    font-weight: 100
}

.slogan .slogan-title ul {
    margin-left: -20px
}

.slogan .slogan-title ul li {
    float: left;
    margin-right: 25px
}

.slogan .slogan-title ul li:last-child {
    margin-right: 0
}

.slogan .slogan-title ul li button {
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.slogan .slogan-title ul li .font-android:before {
    left: 24px;
    top: 16px;
    font-size: 18px;
    color: #fff;
    position: absolute
}

.slogan .slogan-title ul li .app-store {
    padding-left: 64px;
    padding-right: 42px
}

.slogan .slogan-title ul li .app-store .icon-Apple:before {
    left: 36px;
    top: 14px;
    font-size: 18px;
    color: #fff;
    position: absolute
}

.slogan .slogan-cover {
    position: absolute;
    left: 436px;
    top: 0;
    width: 710px;
    height: 497px
}

.slogan .slogan-cover img {
    position: absolute;
    left: 0;
    top: 0;
    width: 710px
}

.product-story h3 {
    position: relative;
    text-align: center;
    font-size: 28px;
    width: 113px;
    margin: 211px auto 70px;
    color: #464d5c;
    font-family: FZYANS_XIAN, -apple-system, Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif
}

.product-story h3:before {
    left: -120px
}

.product-story h3:after, .product-story h3:before {
    content: '';
    border-top: .5px solid #d0d3d9;
    width: 115px;
    position: absolute;
    top: 14px
}

.product-story h3:after {
    left: 120px
}

.product-story .product-info {
    margin-bottom: 74px
}

.product-story .product-info .img-info {
    position: relative
}

.product-story .product-info .img-info .img-outline {
    position: absolute;
    left: 0;
    top: 0
}

.product-story .product-info .word-info {
    width: 467px
}

.product-story .product-info .word-info h4 {
    margin-top: 152px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #464d5c;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；;
    font-weight: 400
}

.product-story .product-info .word-info p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 60px;
}

.product-story .product-info .word-info a {
    display: inline-block;
    border-bottom: 1px solid #3a7bf7;
    padding-bottom: 3px;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；;
    color: #3a7bf7;
    cursor: pointer
}

.product-story .product-info1 .img-info {
    width: 400px;
    height: 442px;
    float: left
}

.product-story .product-info1 .img-info .img-outline {
    background: url(https://data.zi.com/7908ce3ed5797aad9e33120248f1a111.png);
    width: 400px;
    height: 442px
}

.product-story .product-info1 .img-info .img-words {
    background: url(https://data.zi.com/bf4496ba43cd7208dd96ebecf6b03bb4.png);
    background-size: contain;
    width: 387px;
    height: 418px;
    position: absolute;
    left: -30px;
    top: 70px
}

.product-story .product-info1 .word-info {
    margin-left: 52px;
    float: right
}

.product-story .product-info2 .img-info {
    width: 400px;
    height: 438px;
    float: right
}

.product-story .product-info2 .img-info .img-outline {
    background: url(https://data.zi.com/705d9139d62498b6996c914b1db5d8e2.png);
    width: 400px;
    height: 438px
}

.product-story .product-info2 .img-info .img-words {
    background: url(https://data.zi.com/163ed3d23cb7b000b662d27c4107c255.png);
    width: 577px;
    height: 431px;
    background-size: contain;
    position: absolute;
    left: -150px;
    top: 70px
}

.product-story .product-info3 {
    margin-bottom: 0
}

.product-story .product-info3 .img-info {
    width: 400px;
    height: 442px;
    float: left
}

.product-story .product-info3 .img-info .img-outline {
    background: url(https://data.zi.com/943d68d393a5609a9eaa32adc7888e2a.png);
    width: 400px;
    height: 442px
}

.product-story .product-info3 .img-info .img-words {
    background: url(https://data.zi.com/0fb9952066deb4f3b55d134d9ab3e64c.png);
    background-size: contain;
    width: 416px;
    height: 382px;
    position: absolute;
    left: -50px;
    top: 85px
}

.product-story .product-info3 .word-info {
    float: right
}

.begin-use {
    border-top: 1px solid rgba(208, 211, 217, .2);
    height: 210px;
    background: url(https://data.zi.com/36238584f89ae7e4d111c7e4653714f2.svg) repeat 0 -40px
}

.begin-use .bottom-title {
    height: 100%;
    margin-top: 50px;
    float: left
}

.begin-use .bottom-title .bottom-logo {
    border: .5px solid rgba(208, 211, 217, .2);
    border-radius: 25px;
    background: url(images/logo.png) no-repeat;
    background-size: cover;
    width: 112px;
    height: 112px;
    float: left;
    margin-right: 56px
}

.begin-use .bottom-title .bottom-desc {
    width: 384px;
    float: left
}

.begin-use .bottom-title .bottom-desc h4 {
    font-size: 28px;
    color: #464d5c;
    margin-bottom: 10px;
    letter-spacing: 3.72px;
    margin-top: 24px
}

.begin-use .bottom-title .bottom-desc h4, .begin-use .bottom-title .bottom-desc p {
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.begin-use .bottom-title .bottom-desc p {
    color: #6d7075;
    font-size: 16px;
    letter-spacing: -.8px
}

.begin-use .bottom-btns {
    float: right;
    height: 50px;
    margin-top: 82px
}

.begin-use .bottom-btns button {
    vertical-align: middle
}

.begin-use .bottom-btns .android, .begin-use .bottom-btns .app-store {
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.begin-use .bottom-btns .font-android:before {
    left: 24px;
    top: 16px;
    font-size: 18px;
    color: #fff;
    position: absolute
}

.begin-use .bottom-btns .app-store {
    padding-left: 64px;
    padding-right: 42px;
    margin-right: 20px
}

.begin-use .bottom-btns .app-store .icon-Apple:before {
    left: 36px;
    top: 14px;
    font-size: 18px;
    color: #fff;
    position: absolute
}

.bar-item {
    height: 37px;
    line-height: 37px;
    letter-spacing: 1.4px;
    position: relative
}

.bar-item:hover {
    cursor: pointer
}

.bar-item.left {
    float: left
}

.bar-item.right {
    float: right
}

.notFound {
    min-height: 400px;
    padding-top: 160px
}

.notFound .notFound-info {
    min-height: 400px;
    text-align: center
}

.notFound .notFound-info h4 {
    color: #363634;
    font-size: 24px;
    line-height: 29px;
    margin-top: 24px;
    margin-bottom: 10px
}

.notFound .notFound-info h4, .notFound .notFound-info p {
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.notFound .notFound-info p {
    color: #6d7075;
    font-size: 16px;
    line-height: 32px
}

.empty h2, .empty p {
    color: #d0d4d9
}

.navbar {
    z-index: 900;
    height: 37px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 11px;
    background-color: #fbfbfb;
    border-bottom: 1pt solid #d0d4d9
}

.navbar span {}

.navbar.cleared {
    border-bottom: none;
    background-color: transparent
}

.navbar .title {
    font-size: 16px;
    color: #7b8994
}

.navbar .title:hover {
    color: #47525d
}

.navbar .title .icon-arrow-down {
    margin-left: -2px
}

.navbar .title.left .title-text {
    margin-left: 10px
}

.navbar .title.left [class^=icon-] {
    float: left
}

.navbar .title.left .icon-back {
    -webkit-transition: all .4s cubic-bezier(.23, 1, .52, 1);
    transition: all .4s cubic-bezier(.23, 1, .52, 1)
}

.navbar .title.left:hover .icon-back {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px)
}

.navbar .title.right .title-text {
    margin-right: 10px;
    font-size: 16px
}

.navbar .title.right [class^=icon-] {
    float: right
}

.navbar .title.right .icon-next {
    -webkit-transition: all .4s cubic-bezier(.23, 1, .52, 1);
    transition: all .4s cubic-bezier(.23, 1, .52, 1)
}

.navbar .title.right:hover .icon-next {
    -webkit-transform: translateX(6px);
    transform: translateX(6px)
}

.navbar .container {
    height: 100%
}

.navbar .container .preview-mode1 {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    height: 37px;
    min-height: 37px;
    line-height: 37px;
    color: #7b8994;
    cursor: pointer
}

.navbar .container .preview-mode1:hover {
    color: #47525d
}

.navbar .bar-item.left .logo {
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #47525d;
    font-size: 32px;
    font-family: FZYANS_ZHUN;
    position: relative
}

.navbar .bar-item.left .logo:hover {
    opacity: .8
}

.navbar .bar-item.left .logo:after {
    content: 'beta';
    font-family: Montserrat;
    font-size: 12px;
    position: absolute;
    right: -32px;
    bottom: 11px;
    height: 16px;
    letter-spacing: normal;
    color: #bdc5c7;
    font-weight: 400
}

.footer {
    width: 100%;
    color: #7f8589;
    font-size: 14px;
    font-weight: normal;
    background-color: #fbfbfb;
    border-top: 1pt solid #d0d4d9
}

.footer .container {
    position: relative
}

.footer .icon-logo {
    font-size: 21px;
    color: #a0a2a5;
    float: left;
    padding-top: 31px
}

.footer .icon-logo:hover {
    opacity: .8
}

.footer .menu {
    margin: 0 auto;
    width: 350px;
    line-height: 14px;
    min-height: 14px;
    height: 14px;
    padding: 34px 110px 33px;
    border-bottom: .5px solid #d0d3d9
}

.footer .menu li {
    margin: 0;
    margin-right: 54.3px;
    color: #a0a2a5;
    letter-spacing: .78px;
    cursor: pointer
}

.footer .menu li:hover {
    opacity: .8
}

.footer .links {
    height: 24px;
    position: absolute;
    right: 0;
    top: 31px
}

.footer .links a {
    color: #a0a2a5;
    margin-left: 30px
}

.footer.cleared {
    border-top: none;
    background-color: transparent
}

.footer .copy-right {
    text-align: center;
    height: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    color: #d0d3d9;
    font-family: Montserrat;
    letter-spacing: .52px
}

.footer.active {
    margin-top: 90px
}

.footer.fixed {
    position: fixed;
    bottom: 0
}

.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

.landing-page {
    padding-top: 8px;
    position: relative;
    background-color: #fff;
    -webkit-font-smoothing: antialiased
}

.landing-page li {
    list-style: none
}

.landing-page .container {
    width: 968px
}

.landing-page .navbar {
    position: absolute
}

.landing-page .navbar .menu li {
    font-size: 14px;
    color: #6d7075;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    margin-left: 40px;
    margin-right: 0;
    font-weight: 200
}

.landing-page .navbar .menu li, .landing-page .navbar .menu li.menu-item-login button {
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.landing-page .navbar .menu li.menu-item-login button {
    color: #fff;
    background-color: #40454a;
    border: 1px solid #40454a
}

.landing-page .navbar .menu li.menu-item-login button:hover {
    opacity: .8
}

.landing-page .navbar .menu li:first-child {
    margin-left: 0
}

.landing-page .navbar .menu li:last-child {
    margin-right: 0
}

.landing-page .navbar .menu li .login {
    padding: 11px 25px 10px 27px;
    line-height: 14px;
    text-shadow: none
}

.landing-page .navbar .menu li:hover {
    color: #47525d
}

.landing-page .navbar.active .logo {
    color: #fff;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.landing-page .navbar.active .logo:hover {
    opacity: .8
}

.landing-page .navbar.active .menu li {
    font-size: 14px;
    color: #fff;
    opacity: .8;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.landing-page .navbar[data-state=init] {
    border-bottom: 1px solid #d0d3d9;
    background: #fff;
    position: fixed;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px)
}

.landing-page .navbar.translate {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.landing-page .navbar.on .menu li {
    font-size: 14px;
    color: #6d7075
}

.landing-page .navbar.on .menu li:hover {
    color: #47525d
}

.landing-page .navbar.on .menu li .login {
    border: 1px solid #3a7bf7!important
}

.landing-page .navbar.on .logo {
    color: #47525d
}

.landing-page .navbar.on .logo:hover {
    opacity: .8
}

.landing-page .navbar.transition {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.landing-page .container-box {
    padding-top: 212px;
    overflow: hidden
}

.landing-page .child-page .sub-describ {
    width: 500px;
    text-align: center;
    margin: 80px auto 40px;
    color: #6d7075;
    font-size: 16px;
    line-height: 32px;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.landing-page .child-page .main-title {
    height: 550px;
    width: 100%;
    position: relative
}

.landing-page .child-page .main-title:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #464d5c;
    opacity: 1;
    z-index: -1000000
}

.landing-page .child-page .main-title .container {
    height: 100%
}

.landing-page .child-page .main-title .container h2 {
    font-size: 72px;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -36px;
    width: 100%;
    text-align: center;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；;
    letter-spacing: 9.58px
}

.landing-page .child-page .main-title .overlay {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    background: rgba(25, 29, 34, .25)
}

.landing-page .child-page .image {
    margin-bottom: -20px
}

.landing-page .child-page .image .zi-vertical1 {
    width: 968px;
    height: 513px;
    margin-top: 20px;
    margin-bottom: 20px
}

.landing-page .child-page .image .zi-vertical2 {
    width: 968px;
    height: 625px;
    margin-top: 20px;
    margin-bottom: 20px
}

.landing-page .child-page .image .zi-vertical2 .zi-horizontal1 {
    width: 464px;
    height: 625px;
    float: left
}

.landing-page .child-page .image .zi-vertical2 .zi-horizontal2 {
    width: 464px;
    height: 625px;
    float: left;
    margin-left: 40px
}

.landing-page .child-page .item-list {
    border-top: 1px solid #d0d3d9;
    padding-top: 80px;
    padding-bottom: 60px
}

.landing-page .child-page .item-list:first-child {
    border-top: none
}

.landing-page .child-page .item-list .about-left {
    width: 371px;
    float: left
}

.landing-page .child-page .item-list .about-left h4 {
    font-size: 24px;
    color: #464d5c;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；;
    margin-top: 6px
}

.landing-page .child-page .item-list .about-right {
    margin-left: 39px;
    width: 558px;
    float: left
}

.landing-page .child-page .item-list .about-right p {
    color: #6d7075;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-top: 0
}

.landing-page .child-page .item-list .about-right a, .landing-page .child-page .item-list .about-right p {
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.landing-page .child-page .item-list .about-right a {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid #3a7bf7;
    line-height: normal
}

.landing-page .child-page .item-list .about-right h5 {
    font-size: 16px;
    color: #464d5c;
    margin-top: 6px;
    margin-bottom: 15px;
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif；
}

.landing-page .child-page .item-list .about-right ul li {
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 16px;
    color: #6d7075;
    line-height: 32px
}

.landing-page .about, .landing-page .help .container, .landing-page .jobs, .landing-page .privacy {
    min-width: 968px
}

.landing-page .notFound {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 0
}
